name: git
source:
  version_check: |
    curl -s https://mirrors.edge.kernel.org/pub/software/scm/git/ | grep -oE "([0-9]{1,}\.)+([0-9]{1,})" | sort -Vr | uniq
  metalink_get: |
    jq -n '
      "git-\(env.version).tar.gz" | {
        "files": [
          { "name": .,
            "version": env.version,
            "urls": [ { "url": "https://mirrors.edge.kernel.org/pub/software/scm/git/\(.)" } ] } ] }'